<article class="post">
    <div class="title">
     {{post.post_title}} 
    </div>
    <div class="content">
        {{post.post_content}}
    </div>

    <a href="/post/{{post.id}}">{{post.comments.length}}</a>
</article>

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{/if}}

<div class="comments">
{{#each post.comments}}
<section class="comment">

<div>
    {{comment_text}}----This comment was written by --{{developer.username}}-- on {{createdAt}}
</div>
</section>
{{/each}}
</div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}